/* colors */
:root {
  /* neutral */
  --black: #263238;
  --d-grey: #4d4d4d;
  --grey: #717171;
  --grey-blue: #abbed1;
  --silver: #f5f7fa;
  --white: #fff;

  /* primary */
  --primary: #006a8e;
  --secondary: #d9e8ee;
  --info: #3a2713;

  /* color shade */
  --shade-1: #00ace6;
  --shade-2: #008ebd;
  --shade-3: #006b8f;
  --shade-4: #00506b;
  --shade-5: #003242;

  /* color tint */
  --tint-1: rgba(0, 107, 143, 0.6);
  --tint-2: rgba(0, 107, 143, 0.5);
  --tint-3: rgba(0, 107, 143, 0.4);
  --tint-4: rgba(0, 107, 143, 0.3);
  --tint-5: rgba(0, 107, 143, 0.2);

  /* action */
  --warning: #8f6c0e;
  --shade-5: #8f2a0e;
  --shade-5: #078f66;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-secondary: var(--silver);
  --color-background-dark: var(--black);

  --color-heading: var(--d-grey);
  --color-text: var(--grey);

  --section-gap: 144px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
